<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
  <p class="notice text-center" style="color:blue;"><%= flash[:alert] %></p></div>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <h2 class="heading-title">プロフィール編集</h2>
  </div>
  <div class="row justify-content-center">


<%= form_with model: @end_user, local: true do |f| %>


<% end %>

  </div>
</div>

