

<div class="container mt-6">

  <div class="row justify-content-center">
    <h4>レシピ編集</h4>
  </div>

  <%= form_with model: @recipe, url: admin_recipe_path(@recipe), method: :patch, remote: true do |f| %>
    <%= f.hidden_field :authenticity_token %>

    <%= render 'public/recipes/form', recipe: @recipe %>

  <% end %>
</div>

