
<!--<div class="album bg-light">-->
  <!--<div class="container">-->

    <%= render 'index', recipes: @recipes %>
    
    <div class="row justify-content-center">
      <%= paginate @recipes %>
    </div>

  <!--</div>-->
<!--</div>-->
