<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
  <p class="notice text-center" style="color:red;"><%= flash[:alert] %></p></div>
<% end %>

<div class="container mt-6">
  <div class="row justify-content-center" style="margin-top: 30px;">
    <h4 class="heading-title">新規レシピ投稿</h4>
  </div>
  
  
     <%= render 'form', recipe: @recipe %>
  

</div>

