<div class="container-about">
  <div class="row-about">
    <div class="col-md-5">
      <div class="row">
        <div class="col-text">
          <div class="col-text-title">
             <h4>Chef's Tableについて</h4>
          </div>
          <div class="col-text-body">
            <p>コックさんの賄い作りには、食べものを無駄にしない工夫と、</p>
            <p>美味しく食べるためのアイデアが溢れています。</p>
            <p>使い切れない食材も、Shef's Tableのレシピで楽しく</p>
            <p>アレンジしてみませんか？</p>
            <p>さらに、食材の栄養価や保存のコツをまとめた</p>
            <p>食材図鑑ページもご用意しています。</p>
            <p>食材の知識を増やして、もっと美味しい料理を</p>
            <p>楽しんでみましょう！</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="col-img-about">
      </div>
    </div>

  </div>
</div>
