<div class="conteiner">
  <div class="row">
    <div class="col">
      <%= link_to "カテゴリー検索", categories_path, class: "btn", style: "margin-top: 6px; background-color: #b9d0b1; color: #ffffff" %>
    </div>
  </div>
</div>
