<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
  <p class="notice text-center" style="color:blue;"><%= flash[:alert] %></p></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="heading-title">食材図鑑編集</h3>
    </div>
  </div>
  <div class="row">
    
    <%= form_with model: @ingredient, url: admin_ingredient_path, method: :patch, local: true do |f| %>
      <%= render 'form', f: f %>
    <% end %>
    
  </div>
</div>

