<div class="container">
  <div class="row">
    <div class="col">
      <h3>食材図鑑一覧</h3>
    </div>
  </div>
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <%= ingredient.category.name %>
      <%= link_to ingredient.name, admin_ingredient_path(ingredient) %>
      <%= ingredient.description %>
    <% end %>  
  </div>
</div>
