<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
  <p class="notice text-center" style="color:red;"><%= flash[:alert] %></p></div>
<% end %>

<div class="container">
  <div class="row" style="margin-top: 20px;" >
    <div class="col-6">
      <h2 class="heading-title">食材図鑑新規作成</h2>
    </div>
  </div>
  <div class="row">

    <%= form_with model: @ingredient, url: admin_ingredients_path, method: :post, local: true do |f| %>
      <%= render 'admin/ingredients/form', f: f %>
    <% end %>

  </div>
</div>
