<div class="container">
  <div class="row">
    <div class="col">
      <h3>食材図鑑新規作成</h3>
    </div>
  </div>
  <div class="row">

    <%= form_with model: @ingredient, url: admin_ingredients_path, method: :post, local: true do |f| %>
     <%= render 'form', f: f %>
   <% end %>

  </div>
</div>
