<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
  <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class="container-m">

  <%= render 'public/ingredients/show' %>

  <div class="row" style="margin-top: 20px;">
    <div class="col-4 offset-1">
      <%= link_to '編集する', edit_admin_ingredient_path(@ingredient), class: "btn btn-sm btn-success" %>
    </div>
  </div>
</div>
