/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969; 
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;  
}

body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* 画面の高さいっぱいに設定 */
    }

footer {
  background-color: #9ba5a0;
  padding: 5px; /* 適切な余白を設定 */
  text-align: center;
}

.col-md-3 {
  padding: 20px
}

.col-md-6 {
  padding: 20px
}

.col-md-12 {
  padding: 20px
}

.container-fluid {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.container-m{
  margin-top: 80px;
  margin-bottom: 30px;
}

.boards_searchForm {
  width: 300px;
}

.comment-text-area{
  width: 350px;
  height: 100px;
}

h2.heading-title{
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
  border-bottom: 10px solid #dddddd;
  text-align: center;
  line-height: 0.6;
}

h4.heading-title{
  font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif;
  border-bottom: 10px solid #dddddd;
  text-align: center;
  line-height: 0.6;
}

.favorite-section {
  display: flex;
}

.favorite-button-container {
  margin-right: 10px;
}

.favorite-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.favorite-button:hover {
  background-color: #82aaaa;
  color: #ffffff;
}

.top-button{
  color: white;
  font-size: 20px;
  border-bottom: 2px solid #fff;
}

.card-wrapper {
  border: 1px solid #ddd; 
  padding: 10px; 
  border-radius: 8px; /* 枠線の角を丸くする */
}

.comment-box{
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.comment-link{
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background-color: #6289a4;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.container-about{
  width: 80%;
  height: 80vh; /* ビューポートの高さの80%に設定 */
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.row-about{
  height: 40%;
}

.logo-img{
  width: 80px;
  height: 80px;
  background-image: image-url('logo.png');
  background-size: cover;
}

.logo-text{
  font-family: "Verdana", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラノギ角ゴ", sans-serif;
}

.col-img-top{
  width: 100%;
  height: 500px;
  background-image: image-url('cooks-1661136_1280.jpg');
  background-size: cover;
}

.col-text{
  background-color: #dddddd;
  border: 1px solid #000;
  width: 100%;
  height: 400px;
  display: flex; /* Flexboxを使用して子要素を中央寄せにする */
  flex-direction: column; /* 子要素を縦に配置 */
  justify-content: center; /* 子要素を垂直方向に中央寄せ */
  align-items: center; /* 子要素を水平方向に左寄せ */
  padding: 20px; /* 適切な余白を追加 */
}

.col-text-title {
  text-align: center; 
}

.about-title{
  font-family: "Verdana", "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラノギ角ゴ", sans-serif;
  font-weight: bold;
}

.col-text-body {
  text-align: left; 
}

.col-text h4 {
  margin-bottom: 10px; 
}


.col-img-about{
  width: 100%;
  height: 400px;
  background-image: image-url('vegetables-2357173_1280.jpg');
  background-size: cover;
}

.top-text-container {
  border: 1px solid #000;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.top-text-container .top-title {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.top-text-container .top-body {
  text-align: center;
  line-height: 1.6;
  margin-left: 20px;
}

.top-text-container .top-title h4 {
  font-size: 1.5em; 
  font-weight: bold; 
}
