<div class="container">
  <div class="row justify-content-center mx-auto">
    <div class="notificaton_box">
      <h2 class="text-center"><i class="fas fa-bell"></i>通知</h2>
      <p class="text-right">
        <% if @notifications.exists? %>
          <%= link_to "履歴を全て削除", notification_path(@notifications), method: :delete, class:"btn btn-danger remove-description mb-3" %>
        <% end %>
      </p>
      <% if @notifications.exists? && %>
        <%= render @notifications %>
      <% else %>
        <h4 style="margin-top: 100px;">通知はありません</h4>
      <% end %>
    </div>
  </div>
</div>
